<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="RSG" preserve-order="true">
	<test name="TestLogin" preserve-order="true">
		<classes>
			<class name="com.rsg.RC_Check.ConversionTest"></class>
		</classes>
	</test>
	<test name="TestHomePage" preserve-order="true">
		<classes>
			<class name="com.rsg.RC_Check.HomePageAndReachAnalysisTest"></class>
		</classes>
	</test>
</suite>